global:
  smtp_smarthost: '{{ alertmanager_smtp_smarthost }}'
  smtp_from: '{{ alertmanager_smtp_from }}'

route:
  receiver: 'DEFAULT-RECEIVER'
  group_by: ['alertname', 'cluster']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h

  routes:
    # Send ALL alerts to iLert in parallel with other routing
    - match: {}
      receiver: DEFAULT-RECEIVER
      continue: true
    - match_re:
        service: ^(tradeflow)$
      receiver: techrisk
    - match:
        alertname: "Runaway_RabbitMQ_queue"
      receiver: techrisk

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname']

receivers:
  - name: 'techrisk'
    email_configs:
      - to: '{{ alertmanager_email_recipient }}'
        tls_config:
          insecure_skip_verify: true

  - name: 'DEFAULT-RECEIVER'
    webhook_configs:
      - url: '{{ alertmanager_webhook_url }}'
        send_resolved: true
