[Unit]
Description=Thanos Compact
After=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart={{ binary_dir }}/thanos compact \
    --data-dir={{ thanos_compact_dir }} \
    --objstore.config-file={{ thanos_config_dir }}/compact-objstore.yml \
    --http-address=0.0.0.0:{{ thanos_compact_http_port }} \
    --retention.resolution-raw={{ thanos_compactor_retention_time_raw }} \
    --retention.resolution-5m={{ thanos_compactor_retention_time_5m }} \
    --retention.resolution-1h={{ thanos_compactor_retention_time_1h }} \
    --wait
Restart=always

[Install]
WantedBy=multi-user.target 
