[Unit]
Description=Thanos Query
After=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart={{ binary_dir }}/thanos query \
    --http-address=0.0.0.0:{{ thanos_query_http_port }} \
    --grpc-address=0.0.0.0:{{ thanos_query_grpc_port }} \
    {% for endpoint in thanos_query_endpoints %}
    --endpoint={{ endpoint }}:{{ thanos_sidecar_grpc_port }} \
    {% endfor %}
    --endpoint=prd-prometheus01:{{ thanos_store_grpc_port }} \
    --query.replica-label=replica
Restart=always

[Install]
WantedBy=multi-user.target
