[Unit]
Description=Thanos Sidecar
After=prometheus.service

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart={{ binary_dir }}/thanos sidecar \
    --prometheus.url=http://localhost:{{ prometheus_http_port }} \
    --http-address=0.0.0.0:{{ thanos_sidecar_http_port }} \
    --grpc-address=0.0.0.0:{{ thanos_sidecar_grpc_port }} \
    --tsdb.path={{ prometheus_data_dir }} \
    --objstore.config-file={{ thanos_config_dir }}/sidecar-objstore.yml
Restart=always

[Install]
WantedBy=multi-user.target 
